<!-- footer -->
<footer class="editContent">
<div class="footersize">
<div class="row">
  <div class="col-sm-6">
    <div class="card footerfilling">
      <div class="card-body">
          <h5 class="card-title">Created <a href="{% url 'welcome' %}">Denisenko Andrei</a></h5>
        <p class="card-text">This is parsing currencies with <a href="https://www.nbrb.by/statistics/rates/ratesdaily.asp">National Bank of the Republic of Belarus.</a></p>

      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card footerfilling">
      <div class="card-body">
        <h5 class="card-title">Contact</h5>
        <p class="card-text">Email: denisenko.andrei.da@gmail.com</p>

      </div>
    </div>
  </div>
</div>
    <br>
<div>
    <p class="col-md-10 text-left">© 2020 ParcintCurrencies. All rights reserved |
        <a href="https://github.com/Andrei107Q"> AndreiGIT.</a>
    </p>
    <br>
</div>
</div>
</footer>
<!-- //footer -->
