{% extends 'base.html' %}


{% block content %}

    {% load static %}
    <link rel="stylesheet" href="{% static "css/worktest.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <div class="text-light mx-auto m-5 p-5" style="width: 750px;">
        <h1> My last jobs </h1>
        <h3>I am grateful to them for the experience gained.</h3>
    </div>

    {% for name_work in list_resume %}

        <body>
            <div class="jumbotron semilayer m-5 mx-auto" style="width: 1000px;">
              <div class="container">
                <h1><a id="aj" href="{% url 'detail_my_work' name_work.id %}">  {{ name_work }} </a></h1>
                <hr class="my-1">
              </div>
                <h5> {{ name_work.description }}   </h5>
            </div>
                <br>
        </body>
    {% endfor %}

<!--<script>-->
<!--  $(document).ready(function(){-->
<!--        $('#aj').bind('click', function(e){-->
<!--        e.preventDefault();-->

<!--            $.ajax({-->
<!--                method: 'GET',-->
<!--                url: $(this).attr('href'),-->
<!--                data: '',-->
<!--                dataType: 'text',-->

<!--                success: function(data) {-->
<!--                    alert("Successfully sent the URL to Django"),-->

<!--                    console.log('ok');-->

<!--                },-->
<!--                error : function(xhr,errmsg,err) {-->
<!--                    console.log('error'),-->
<!--                    // console.log(url),-->
<!--                    alert("Could not send URL to Django. Error: " + xhr.status + ": " + xhr.responseText);-->
<!--                }-->
<!--            })-->
<!--        })-->
<!--    })-->

<!--</script>-->

{% endblock %}
