{% extends 'base.html' %}

{% block content %}
<div class="row row-cols-1 row-cols-md-2 m-5 p-5">
  {% for project in projects %}
        <a href="{% url 'project' %}{{ project.url }}">
            <div class="col mb-4">
                <div class="card blockborder">
                    <img src="{{ project.picture.url }}" class="card-img-top figure" alt="...">
                    <h1 class="card-title blocktext">{{ project.name }}</h1>
                    {% if project.description %}
                    <div>
                        <p>{{ project.description }}</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </a>
  {% endfor %}
</div>
{% endblock %}